.lorem-bar{
    width: 100vw;
    height: 24px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lorem-text{
    color: #EB4C6B;
    font-family: "Simplon Norm";
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: left;

    
}
.lorem-ele{
    width: 120px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.lorem-box{
    width: 14px;
    height : 14px;
}
.lorem-box1{
    width: 4.96px;
    height: 3.5px;
    gap: 0px;
    border: 0.88px ;
    border-color: #EB4C6B;
}