 .footer {
  width: 100%;
  height: 699px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subfooter {
  width: 91.41%;
  height: 699px;
}
.footer-title {
  height: 19px;
  font-family: Simplon Norm;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}
.footer-description {
  height: 40px;
  top: 51px;
  left: 16px;
  font-family: Simplon Norm;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
}
.search-bar {
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchbar {
  width: 226px;
  height: 100%;
  padding-left: 0;
  font-family: Simplon Norm;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: rgba(191, 200, 205, 1);
}
.subscribe-button {
  width: 109px;
  height: 48px;
  left: 234px;
  gap: 0px;
  border-radius: 5px;
  border: 1.14px solid rgba(255, 255, 255, 0.3);
  opacity: 0.3px;
  background-color: #000000;
  font-family: Simplon Norm;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hr {
  width: 100%;
  height: 0px;
  top: 179px;
  left: 16px;
  gap: 0px;
  margin-top: 20px;
  border: 1px solid rgba(229, 229, 229, 1);
}

.callus {
  font-family: Simplon Norm;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.phone-num {
  height: 17px;
  top: 238px;
  left: 16px;
  font-family: Simplon Norm;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.subfooter-tabdesk{
  display: none;
}
.box {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.email {
  font-family: Simplon Norm;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: rgba(255, 255, 255, 1);

  height: 17px;
  top: 238px;
  left: 137px;
  gap: 0px;
  opacity: 0px;
}

.currency {
  width: 79px;
  height: 19px;
  top: 303px;
  left: 16px;
  font-family: Simplon Norm;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.country-name {
  width: 62px;
  height: 20px;
  top: 338px;
  left: 16px;
  gap: 5px;
  opacity: 0px;
  display: flex;
}
.flag {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.flag-image {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.usd {
  font-family: Simplon Norm;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.footer-icon {
  color: #ffffff;
}
.footer-section {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-toggle {
  border: none;
  background-color: #000000;
  color: #ffffff;
  font-family: Simplon Norm;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
}
.payment-methods {
  color: #ffffff;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}
.payment {
    height: 30px;
    width : 50px;
    border-radius: 5px;
}

.payment-icons {
    height : 30px
}

.footer-copyright{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin: 15px 0;
}
.copyright{
    font-family: Simplon Norm;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
text-align: center;

} 

.usd-img{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .subfooter-tabdesk{
    width: 91.41%;
    height: 100%;
  }
  .subfooter{
    display: none;
  }
}

@media (min-width: 1025px) {
  .subfooter{
    display: none;
  }
  .subfooter-tabdesk{
    width: 91.41%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .email-contact{
    width: 91%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .liks-follows{
    width: 91%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .email{
    width: 40%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contact-container{
    width: 40%;
    height: 220px;
  }
  .contact{
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .us-footer{
    font-family: Simplon Norm;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;
color: rgba(255, 255, 255, 1);

  }
  .usa-flag{
   
    width: 24px;
    height: 24px;
  }
  .flag{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    overflow: hidden;
  }
  .currency-usd{
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
  .currency{
    font-family: Simplon Norm;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;

  }
  .usd{
    font-family: Simplon Norm;
font-size: 16px;
font-weight: 700;
line-height: 19.2px;
letter-spacing: 1px;
text-align: left;

  }
  .des{
    font-family: Simplon Norm;
font-size: 12px;
font-weight: 400;
line-height: 14.4px;
text-align: left;
color: rgba(255, 255, 255, 1);

  }
  .mettā{
    font-family: Simplon Norm;
font-size: 24.71px;
font-weight: 700;
line-height: 29.66px;
text-align: left;

color: rgba(255, 255, 255, 1);

  }
  li{
    font-family: Simplon Norm;
font-size: 18px;
font-weight: 400;
line-height: 21.6px;
text-align: left;
color: white;
  }
  ul{
    text-decoration: none;
  }
  .Quick-Links{
    font-family: Simplon Norm;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;
color: white;
  }
  .instagram,.linkedin{
    background-color: #ffffff;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .instagram-icon,.linkedin-icon{
    background-color: white;
    font-size: 16px;
  }
  .social{
    display: flex;
    gap: 10px;
  }
  .follow-social{
    font-family: Simplon Norm;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;
color: #ffffff;
  }
  .payment-accept{
  
    width: 200px;
    font-family: Simplon Norm;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;
color: #ffffff;
  }
  .accept{
    font-family: Simplon Norm;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;

  }
  .payment-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .follow-payment{
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .payment{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}

