.operation{
    width: 100%;
height: 41px;
gap: 0px;
border: 1px solid #E5E5E5;
display: grid;
grid-template-columns: 1fr 1fr;
}
.filter,.recommended{
   
display: flex;
justify-content: center;
align-items: center;
font-family: Simplon Norm;
font-size: 14px;
font-weight: 700;
line-height: 16.8px;
text-align: left;

}